name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    # Runs every 4 hours
    - cron: "0 */4 * * *"

jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ github.token }}
